@use "sass:color"; // 내장모듈 불러오기

$default-width: 100px;
$default-height: 50px;
$primary: orange;

.background{
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  .dark-btn{
    width: $default-width;
    height: $default-height;
    background-color: $primary;

    cursor: pointer;
    border: none;
    border-radius: 5px;

    &:hover{
      background-color: darken($primary, 20%); // 내장모듈 사용하기
    }
  }
}